body {
  line-height: 24px;
  font-size: 14px;
  color: black;
  font-weight: normal;
  font-family: PTSans NarrowBold;
}

h1 {
  line-height: 42px;
  font-size: 30px;
  font-weight: bold;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

div.container {
  min-height: 70px;
  margin: 0 auto;
  width: 940px;
  background-color: green;
}

nav.main-navigation {
  float: left;
  width: 780px;
}

nav.main-navigation li {
  display: inline-block;
  vertical-align: top;
}

div.user-block {
  float: right;
  width: 140px;
}

main.container {
  width: 940px;
  margin: 0 auto;
}

.filter {
  width: 220px;
  min-height: 600px;
  background-color: red;
  float: left;
}

.gallery {
  width: 700px;
  background-color: grey;
  float: right;
  min-height: 600px;
}

.gallery .block {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  height: 290px;
  background-color: yellow;
}

.pagination li {
  display: inline-block;
}

.footer-container {
  width: 940px;
  min-height: 190px;
  background-color: green;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  width: 320px;
  float: left;
  background-color: red;
  margin-right: 60px;
}

.footer-social {
  width: 180px;
  float: left;
  background-color: red;
}

.footer-copyright {
  width: 160px;
  float: right;
  background-color: red;
}