html,
body {
  margin: 0;
  padding: 0;
}

body {
  line-height: 24px;
  font-size: 14px;
  color: black;
  font-weight: normal;
  font-family: PTSans NarrowBold;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 14px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  outline: 3px solid green;
  margin-bottom: 64px;
}

.container {
  width: 940px;
  outline: 3px solid red;
  margin-left: auto;
  margin-right: auto;
}

.main-navigation {
  float: left;
  width: 700px;
  outline: 1px solid green;
}

.main-header img {
  float: left;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
}

.user-block {
  float: right;
  width: 100px;
  outline: 1px solid green;
}

.breadcrumb li {
  display: inline-block;
  vertical-align: top;
}

.filter {
  width: 220px;
  outline: 1px solid black;
  float: left;
}

.gallery {
  width: 700px;
  outline: 1px solid black;
  float: right;
}

.gallery .block {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  outline: 1px solid black;
  margin: 0;
}

.gallery-item {
  outline: 3px solid red;
  font-size: 0px;
  width: 460px;
  float: left;
}

.gallery figure {
  margin: 0;
}

.right-side {
  outline: 3px solid yellow;
  float: right;
  width: 400px;
}

.gallery-item .block {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.pagination {
  clear: both;
  width: 300px;
  outline: 3px solid blue;
}

.pagination li {
  display: inline-block;
  vertical-align: top;
}

.main-footer {
  clear: both;
  outline: 3px solid green;
  margin-top: 49px;
}

.footer-contacts {
  width: 310px;
  outline: 1px solid black;
  float: left;
  margin-right: 90px;
}

.footer-social {
  width: 140px;
  outline: 1px solid black;
  float: left;
}

.footer-copyright {
  width: 140px;
  outline: 1px solid black;
  float: right;
}